body{
	height: 100%;
	background-color: #4dc0b5;
}
.flex-container{
	display: flex;
}
.flex-column{
	flex-direction: column;
}
.flex-center{
	justify-content: center;
	align-items: center;
}

.morpion{
	height: 100%;
	width: 100%;

}
.flex-wrap{
	flex-wrap: wrap;
}
.bord-morpion{
	width: 618px;
}
.case{
	width: 200px;
	height: 200px;
	border: 3px solid black;

}
.case:hover{
	background-color: white;
}